.isLoadingForCSVConversion::after {
    position: absolute;
    content: 'Asset Model CSV generation is In Progress';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
.isLoadingForDriveMessage::after {
    position: absolute;
    content: 'Generating Neuron file';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}

.spinner {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255,.5);
    z-index: 10000;
    min-height: 101vh;
}