.tableDiv {
    max-height: 500px;
    width: calc(100% - 17px);
    margin: 10px;
    border: thin solid #fff;
    overflow: scroll; 
  }
  
  .tblCRSummarySummary {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tblCRSummary {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tblCRSummary td, th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  
  .tblCRSummary tr:nth-child(even){background-color: #f2f2f2;}
  
  .tblCRSummary tr:nth-child(1) td:nth-child(2) {
      background-color: #ccf1fd !important;
    font-weight : bold !important;
    text-align : center !important;
  }
  
  .tblCRSummary tr:nth-child(1) td:nth-child(3) {
      background-color: #fdd7d7 !important;
    font-weight : bold !important;
    text-align : center !important;
  }
  
  .tblCRSummary tr:nth-child(2) {
      background-color: #d1d1d1;
    font-weight : bold;
  }
  
  .tblCRSummary td:nth-child(1) {
      /*background-color: #d1d1d1;*/
    font-weight : bold;
  }
  
  .tblCRSummary tr:nth-child(1) td:nth-child(1) { background-color: #ffffff !important; }
  
  .tblCRSummary tr:nth-child(1) td:nth-child(1) { background-color: #ffffff !important; }
  
  .tblCRSummary tr:last-child {
      background-color: #cacaca;
    font-weight : bold;
    color : #000000;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .tblCRSummary tr:last-child td:nth-child(1) {
      background-color: #525151;
    font-weight : bold;
    color : #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .tblCRSummary tr:hover {background-color: #ddd;}
  
  .loaderSpinner{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255,.5);
    z-index: 7000;
    min-height: 101vh;
  }
  
  .groupingHeaderName {
    text-align : center !important;
  }
  
  .typeCls {
    text-align: center !important;
  }
  
  .sectionName {
    text-align: left !important;
  }
  
  .cellVal {
    text-align: right !important;
  }
  
  .totalHeaderCell {
    text-align: center !important;
  }